@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-image: linear-gradient(#06bbed1c, #fff);
 }

#login{
  background-color:#06bbed50 ;
}

#form{
  border: 2px solid #06bbed34;
  border-radius: 32px;
}

#diferente{
  color: #06bbed86;
}

#form_IMG{
  border-radius: 32px;
  width:360px;
  height:370px
}

.imagem1{
  width: 523.46px;
  height: 320px;
  left: 758px;
  top: 338px;
  border-radius: 36px;
  margin-top: 20px;
}
.imagem{
  width: 530px;
  height: 336.96px;
  left: 839px;
  top: 531px;
  border-radius: 36px;
  margin-top: -80px;
}
#btn-home{
  width: 384px;
  height: 60px;
  left: 195px;
  top: 837px;
  border-radius: 32px;
  color: #06bbed33;
  border: 2px solid #06bbed27;
}